body{
    font-family: sans-serif;
    text-align: center;
}

.common{
    background-color:rgb(218, 141, 198);
    color: white;
    padding: 20px;
}

#middleblock{
    padding: 20px;
}

#table{
    text-align: center;
}

nav li{
    display: inline;
    margin-right: 20px;
    text-decoration: none;
}

#button{
    padding: 20px 32px;
    background-color:rgb(218, 141, 198);
    border: none;
    border-radius: 10px;
    color: white;
    font-size: larger;
}